* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  text-decoration: none;
  list-style: none;
}

@font-face {
  font-family: "Gilroy-Bold";
  src: url("./font/Gilroy-Bold.ttf") format("truetype");
}

@font-face {
  font-family: "Gilroy-Medium";
  src: url("./font/Gilroy-Medium.ttf") format("truetype");
}

.header {
  display: flex;
  justify-content: space-between;
  margin-top: 40px;
}

.logo {
  font-family: Gilroy-Bold, sans-serif;
  font-size: 24px;
  display: flex;
  align-items: center;
  color: #000;
}

.logo__img {
  margin-right: 1rem;
}

.logo__text {
  color: rgb(242, 88, 34);
}

.menu {
  /* display: flex; */
  /* justify-content: space-between; */
  align-items: center;
}

a {
  color: #000;
  font-family: Gilroy-Medium, sans-serif;
  font-size: 14px;
  cursor: pointer;
}

a:hover {
  color: rgb(242, 88, 34);
}

.top__content {
  margin-top: 82px;
  margin-bottom: 103px;
}

.title {
  margin-bottom: 17px;
}

.top__buttons {
  margin-top: 37px;
}
