:root {
  --font-family: "Lato", sans-serif;
  --second-family: ".LastResort", sans-serif;
}

p {
  margin: 0;
}

body {
  background-color: #f1e4e6;
}

.center {
  margin-left: calc(50% - 800px);
  margin-right: calc(50% - 800px);
}

.container {
  width: 1140px;
  margin: 0 auto;
}

.menu {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.header {
  background-color: #222;
  height: 75px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 26px 0 20px 0;
}

.header__logos {
  display: flex;
}

.logo-icon {
  margin-right: 41px;
  display: flex;
  flex-wrap: nowrap;
  align-items: center;
}

.nav-icon {
  color: #e8e8e8;
  display: flex;
  align-items: center;
}

svg {
  margin-right: 33px;
}

svg:last-child {
  margin-right: 0;
}

.promo {
  display: flex;
  align-items: center;
  width: 1600px;
  margin: 0 auto;
  /* justify-content: space-evenly; */
}

.promo__title {
  border-left: 12px solid #f16d7f;
  padding-left: 16px;
  margin-left: 64px;
}

.main-title {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 48px;
  color: #222;
  line-height: 0;
}

.subtitle {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 32px;
  color: #222;
}

span {
  color: #f16d7f;
}

.catalog {
  margin-top: 65px;
  background-color: #fff;
  align-items: center;
  display: flex;
  justify-content: center;
}

.catalog__wear {
  display: flex;
  /* align-items: center; */
  justify-content: space-between;
}

.catalog__accesories {
  margin-top: 30px;
}

.card__accesoires {
  position: absolute;
  bottom: -50%;
  transition: translateX(-100%);
}

.card {
  height: 260px;
  width: 360px;
  position: relative;
}

.card-text {
  position: absolute;
  top: 42%;
  left: 50%;
  transform: translateX(-50%);
}

.card__subtitle {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  text-align: center;
  color: #fff;
}

.card__title {
  font-weight: 700;
  font-size: 24px;
  color: #f16d7f;
  line-height: 0;
}
